.right-icon
  color: #2696E8
  font-size: 25px

.country
  padding: 0 0 10px 0
  width: 100%
  border: none
  font-size: 18px
  font-weight: 600
  border-bottom: 1px solid #D5D9DC

  &:focus
    outline: none
    border-bottom: 2px solid #35A0EE

.e-mail
  width: 100%
